* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title-color: #2e324b;
    --text-color: #9698a6;
    --bg-color: #f4f5f7;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    background-color: #fafafa;
    color: var(--text-color);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    width: 100%;
    height: 90px;
    background-color: white;
}
.navbar__links{
    display: flex;
    justify-content: space-evenly;
    color: #fafafa;
    width: 35%;
}

.btn{
    width: 200px;
    color: white;
    padding: 13px 10px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(to right, #31d35c, #00ccae,  #9698a6); 
    /* #00bcd5, #6ea7cc, */
    cursor: pointer;
}
/* Home */
.home__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 650px;
}
.home__container-left{
    max-width: 45%;
    width: 650px;
    height: auto;
    padding: 25px;
    margin-left: 80px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.home__container-left > h1{
    color: var(--title-color);
    font-size: 80px;
    font-weight: 300;
}
.home__container-left > p{
    font-size: 24px;
}
.home__container-right{
    width: 55%;
    height: 100%;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
}
.home__container-right > img {
    position: relative;
    left: 409px;
}

/* Reasons Section */
.reasons{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 150px 50px 100px;
    background-color: var(--bg-color);
}
.reasons > h2{
    color: var(--title-color);
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    width: 100%;
}
.reasons > p{
    font-size: 24px;
    text-align: left;
    width: 100%;
}
.reasons__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.reasons__container-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 293px;
    height: 300px;
}
.reasons__container-cards > img{
    height: 75px;
    width: 75px;
}
.reasons__container-cards > h4{
    color: var(--title-color);
    font-size: 24px;
    font-weight: 300;
}
/* Articles Section */

.articles{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 150px 50px 100px;
    background-color: #fafafa;
}
.articles > h2{
    color: var(--title-color);
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    width: 100%;
}
.articles > p{
    font-size: 24px;
    text-align: left;
    width: 100%;
}
.articles__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.articles__container-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 300px;
}
.articles__container-cards > div{
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.articles__container-cards img{
    width: 293px;
    height: 195px;
    
}
.articles__container-cards div h4{
    color: var(--title-color);
    font-size: 24px;
    font-weight: 300;
}
.articles__container-cards div h5{
    font-size: 14px;
    font-weight: 400;
}
.articles__container-cards div p{
    font-size: 15px;
}

/* Footer */
.footer{
    width: 100%;
    height: 300px;
    background-color: #2d314d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__left{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__left-company{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.socialMedia{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.socialMedia a:hover{
    color: #2fd092;
}
.icon:hover{
    color: #2fd092;
}
.footer__left-links{
    width: 35%;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.links{
    width: 50%;
}
.links li{
    margin-bottom: 10px;
    font-weight: 300;
}
.links li a{
    color: white;
}
.links li a:hover{
    color: #2fd092;
}
.footer__right{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 25px;
}